body {
    font-family: "Roboto",sans-serif;
    color: #434455;
    background-color: white;
}
a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.top-navigation{
    display: flex;
}
.top-line {
    display: flex;
    width: 1440px;
    height: 72px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.logo{
    width: 115px;
    height: 24px;
    color: #2e2f42;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.logo-color{
    font-family: "Raleway", sans-serif;
    color: #4d5ae5;
}

.navigation{
    font-family: "Roboto", sans-serif;
    width: 261px;
    height: 24px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 40px;
}

.navigation-item{
    color: #2e2f42;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;}

.navigation-item:hover{
    color: #404bbf;
}

.address{
    font-style: normal;
}
.address-row{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    display: flex;
}

.address-row-item{
    color:#434455 ;
    display: flex;
}

.address-row-item:hover{
    color: #404bbf}

.hero-page{
    font-family: "Roboto", sans-serif;
}

.hero-title{
    background: #2e2f42;
    width: 1440px;
    height: 600px;
}

.hero-text{
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07143;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
}

.button{
    background: #4d5ae5;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;

}  

.description-section {
    width: 1128px; 
    height: 104px;
    display: flex;
    justify-content: space-between;
}

.description{
    display: flex;
}
.description-row{
    width: 264px;
    height: 104px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 8px;
}

.description-tittle{
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.description-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.our-team{
    width: 1440px;
    height: 732px;
    background: #f4f4fd;
    display: flex;
}

.team-image{
    display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 32px;
        background: #fff;
}
.title-our-team{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.team-list{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 32px;

    border-radius: 0 0 4px 4px;
    padding: 0px 0px 32px 0px;
    width: 264px;
    height: 380px;

    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
}

.team-name{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.job-title{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}

/* Our portfolio */

.our-portfolio{
    width: 1128px;
    height: 1000px;
}

.title-our-portfolio{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.portfolio-list{
    width: 1128px;
    height: 420px;
    width: 360px;
    display: flex;
}

.program-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;

}

.program-description{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.portfolio-image{
    background: #fff;
    width: 360px;
}

.footer{
    width: 1440px;
    height: 312px;
    background: #2e2f42;
}


.logo-one{
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
    
}

.logo-color-one{
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.footer-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    text-align: center;
    flex-direction: column;
}
